<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConn" connectionString="Data Source=FELIPE\SQLEXPRESS;Initial Catalog=DBObraPerfeita;Integrated Security=True;Connection Timeout=90" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>